@import "tailwindcss";

:root {
  --background: transparent;
  --foreground: #333333;

  --color-primary: #333333;
  --color-secondary: #757575;
  /* --color-secondary: red; */

  --font-sans: "Proxima Nova Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  .heading-primary{ 
    @apply text-primary font-bold leading-normal text-[80px] md:text-7xl  
  }

  .heading-tertiary {
    @apply text-2xl text-secondary
  }

  .section {
    @apply min-h-screen w-full px-8 md:px-16 xl:px-40 py-32
  }

  .input {
    @apply mt-2 w-full border-b border-[#ddd] bg-transparent focus:outline-none
  }
}




/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


