@import "tailwindcss";

/* Light mode defaults */
:root {
  --background: transparent;
  --color-primary: #333333;
  --color-secondary: #757575;

  --font-sans: "Proxima Nova Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.dark {
  --background: #1f2937; 
  --color-primary: #ffffff; 
  --color-secondary: #9ca3af; 
}

/* @theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background 0.3s ease, color 0.3s ease;
}

@layer base {
  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .bg-secondary { 
    background-color: var(--color-secondary); 
  }

  .bg-primary {
    background-color: var(--color-primary); 
  }

  .heading-primary{ 
    @apply  font-bold leading-normal text-[80px] md:text-7xl;
    color: var(--color-primary) !important;  
  }

  .heading-tertiary {
    @apply text-2xl;
    color: var(--color-secondary) !important;  
  }

  .section {
    @apply min-h-screen w-full px-8 md:px-16 xl:px-40 py-32
  }

  .input {
    @apply mt-2 w-full border-b border-[#ddd] bg-transparent focus:outline-none
  }
}

@media print {
  body {
    background: white;
  }

  a {
    color: black;
    text-decoration: none;
  }
}


