@import "tailwindcss";

:root {
  --background: transparent;
  --foreground: #333333;

  --color-primary: #333333;
  --color-secondary: #757575;
  /* --color-secondary: red; */

  --font-sans: "Proxima Nova Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  h1{ 
    @apply text-primary font-bold mb-2 text-[80px] md:text-8xl lg:text-[102px]
  }
}




/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


